In [4]:
1

1

In [2]:
1+2

3

#### 텍스트 편집

- ctrl + enter : 현재 셀을 실행하고 현재 셀에 그래도 있음
- shift + enter : 현재 셀을 실행하고 다음 셀로 이동
- alt + enter : 현재 셀을 실행하고 다음에 셀을 새로 생성

#### Command mode
- esc : command mode  전환
- a : 위쪽에 cell 추가
- b : 아래쪽에 cell 추가
- m : code창을 text 창으로 전환
- y : text 창을 code 창으로 전환
- dd : 현재 셀을 삭제

주석
-  &#35; 다음에 주석 작성

In [5]:
1+4 # 주석

5

# 변수
- 필요할 때 마다 값을 가져다 쓸 수 있도록 값을 저장해 놓는 공간

In [12]:
a = 100

In [13]:
a

100

In [14]:
a + 20

120

## 변수에는 정수, 실수, 문자, 논리 등을 저장할 수 있다

In [15]:
c= 3.40
d = "Python"
e = True

In [16]:
c

3.4

In [17]:
d

'Python'

In [18]:
e

True

## name 변수에 이름. iq라는 변수에 아이큐를 저장해보세요

In [20]:
name = "Taehoon"
iq = 999

In [21]:
name

'Taehoon'

In [22]:
iq

999

# print( 출력하고싶은값)

In [23]:
print(100)

100

In [24]:
print("홍길동")

홍길동

In [25]:
print(a)

100

In [27]:
print(a+20)

120

In [28]:
# 여러 값을 출력한다면 컴머(,)로 구분
print(100,"홍길동")

100 홍길동

In [29]:
print(a, c)

100 3.4

# name에 "홍길동"을 저장하고 age에 20 저장한 후에 "홍길동 : 20"과 같이 출력

In [33]:
name = "홍길동"
age = 20
print(name,":", age)

홍길동 : 20

In [34]:
a
c # a 출력 안됌

3.4

In [35]:
(a,c)

(100, 3.4)

In [36]:
print(a)
print(c)

100
3.4

In [38]:
num3 = 3.1425
num4 = 1.25
num5 = 3.0

num3, num4, num5

(3.1425, 1.25, 3.0)

문자 "Hello World"를 쌍따옴표를 써서 str1 변수에 외따움표를 써서 str2에 저장하고 출력

In [40]:
str1 = "Hello World"
str2 = 'Hello World'

print(str1)
print(str2)

Hello World
Hello World

### 변수명 작성 규칙
- 변수명은 영문자, 숫자, _만을 사용할 수 있다.
- 영문자는 대소문자를 구별한다.
- 첫번째 문자로 숫자가 올 수 없다.
- 특수문자는 쓸 수 없다.
- 명령어를 변수명으로 사용할 수 없다

### 변수명 작성 시 권장사항
- 변수명은 가능한 의미를 알 수 있도록 작성한다
- 두 개 단어 이상으로 구성된 변수명은 _나 두번째 단어의 첫 단어를 대문자를 사용하여 구분
- 한 단어로 구성된 변수명은 가능한 소문자로 사용한다

In [46]:
# 변수명은 영문자, 숫자, _만을 사용할 수 있다
a = 1
a2 = 2
a_3 = 3

a, a2, a_3

(1, 2, 3)

In [47]:
# 영문자는 대소문자를 구별한다.

num = 10

Num

NameError: name 'Num' is not defined

In [48]:
# 첫번째 문자로 숫자가 올 수 없다.
1a = 10

SyntaxError: invalid syntax (<ipython-input-48-332ef46bdd46>, line 2)

In [49]:
# 특수문자는 쓸 수 없다.
$a = 10

SyntaxError: invalid syntax (<ipython-input-49-de8e51a04fdb>, line 2)

In [50]:
# 명령어를 변수명으로 사용할 수 없다
# print = 10
# print
# print(10) # 원래 print 함수 호출 불가

In [51]:
# 변수명은 가능한 의미를 알 수 있도록 작성한다
age = 30

In [53]:
# 두 개 단어 이상으로 구성된 변수명은 _나 두번째 단어의 첫 단어를 대문자를 사용하여 구분
chapter_num = 3
chapterNum = 2

In [52]:
# 한 단어로 구성된 변수명은 가능한 소문자로 사용한다
Num = 10 # 클래스 착각 가능

파이썬의 특별한 값 대입방법

In [54]:
c, d = 20 , 49
c, d

(20, 49)

In [55]:
str1, str2 = "홍길동" , "의적"
str1, str2

('홍길동', '의적')

- 변수 x에 10을 저장 변수 y에 20을 저장
- 변수 sum에 x와 y의 합을 저장
- print() 함수로 sum을 출력

In [59]:
x, y = 10, 20
sum =  x+y
print("sum =",sum)

sum = 30

she's gone

In [64]:
# 문자 내부에 외따옴표나 쌍따옴표가 있는 경우
# 같은 따옴표로 묶어주면 안됨

print("she's gone")
print('he said "Ha"')

she's gone
he said "Ha"

In [80]:
# 둘 다 있으면 
str3 = "She\'s said \"Hoho\""
print(str3)

She's said "Hoho"

In [81]:
# 줄 넘김 문자
str6 = "안녕하세요\n반갑습니다"

print(str6)

안녕하세요
반갑습니다

In [9]:
name = "홍길동"
age = 30
job = "의적"

print("이름 :", name,"\n나이 : ", age, "\n직업 :", job)

이름 : 홍길동
나이 :  30
직업 : 의적

In [10]:
# \t : 탭 띄우기
print("홍길동\t", "20")
print("홍길\t", "20")
print("홍\t", "20")

홍길동	 20
홍길	 20
홍	 20

In [11]:
print("이름\t","나이\t","직업")
print("=====================")
print(name,"\t",age,"\t",job)

이름	 나이	 직업
=====================
홍길동 	 30 	 의적

변수에 여러 줄의 문자열을 저장하는 방법2
- '''내용''' or """내용"""

In [95]:
str5 = '''안녕하세요
파이썬 수업중'''

print(str5)

안녕하세요
파이썬 수업중

In [97]:
str6 = """안녕하세요
파이썬"""

print(str6)

안녕하세요
파이썬

#### indexing and slicing

- indexing : 해당 인덱스 (번호, 메모리주소)의 값을 가져온 것
- slicing :  해당 시작 인덱스와 끝 인덱스 사이의 값을 가져 오는 것

In [99]:
#      01234567890123456789012345   (양)
str = "Python is easy and simple."
#      65432109876543210987654321 (마이너스)

In [102]:
# 인덱스 값은 대괄호를 사용하여 설정
print(str[17])
print(str[-9])

d
d

In [104]:
# slicing [시작 인덱스: 끝 인덱스 + 1]
print(str[7:9])
print(str[15:18])

is
and

생략된 indexing

In [106]:
#(1) 시작 인덱스를 생략하면 0 인덱스부터 시작
print(str[0:6])
print(str[:6])

Python
Python

In [115]:
# 끝 인덱스 생략하면 끝까지 가져옴
print(str[19:26])
print(str[19:])
print(str[-7:0]) #0이란 idx 존재 x
print(str[-7:])

simple.
simple.
simple.

In [118]:
# 시작과 끝 생략 => 전체값
print(str[:])

Python is easy and simple.

In [123]:
str_info = "20200706Sunny"
print("년도 :",str_info[:4],"년")
print("월일 :",str_info[4:6],"월",str_info[6:8],"일")
print("날씨 :",str_info[8:])

년도 : 2020 년
월일 : 07 월 06 일
날씨 : Sunny

### 문자열 포맷팅 (Formatting)

In [126]:
s = "오늘은 12월 30일입니다"

In [127]:
# 방법 1
# 오늘은 12월 31일 입니다 라고 출력하려면

day = 31

# %d: 정수형
# %f: 실수형
# %c: 문자 1개
# %s : 문자열

s = "오늘은 12월 %d일 입니다"%day
s

'오늘은 12월 31일 입니다'

In [130]:
# 오늘은 1월 1일 입니다

month = 1
day = 1

s = "오늘은 %d월 %d일 입니다"%(month,day)
s

'오늘은 1월 1일 입니다'

In [134]:
month = 1
day = 1
weather = "맑음"
temp = 12.3

s = "%d월 %d일 날씨는 %s이고 온도는 %.1f도입니다"%(month,day,weather,temp)

print(s)

1월 1일 날씨는 맑음이고 온도는 12.3도입니다

In [135]:
month = 1
day = 1
weather = "맑음"
temp = 12.3

s = "{}월 {}일 날씨는 {}이고 온도는 {}도입니다".format(month,day,weather,temp)

print(s)

1월 1일 날씨는 맑음이고 온도는 12.3도입니다

복습 문제

In [36]:
# 28 31
str1 = "'홍길동' 캐릭터의 레벨은 50이며 현재 경험치는 25.8입니다. 직업은 도적입니다."
str2 = "'캔디' 캐릭터의 레벨은 49이며 현재 경험치는 87.2입니다. 직업은 마법사입니다."

print("캐릭터 정보")
print("========================================")
print("항목\t\t","캐릭터1\t","캐릭터2")
print("----------------------------------------")
print("이름\t\t {}\t\t {}".format(str1[1:4],str2[1:3]))
print("레벨\t\t {}\t\t {}".format(str1[15:17],str2[14:16]))
print("경험치\t\t {}%\t\t {}%".format(str1[28:32],str2[27:31]))
print("직업\t\t {}\t\t {}".format(str1[-6:-4],str2[-7:-4]))
print("----------------------------------------\n")
a = str1[15:17]
b = str2[14:16]
sum = int(a)+int(b)
print("캐릭터 레벨의 합은 {}입니다.".format(sum))

캐릭터 정보
========================================
항목		 캐릭터1	 캐릭터2
----------------------------------------
이름		 홍길동		 캔디
레벨		 50		 49
경험치		 25.8%		 87.2%
직업		 도적		 마법사
----------------------------------------

캐릭터 레벨의 합은 99입니다.

### 문자열 함수

In [45]:
str1 = "Python is easy and simple"
str2 = "Python은 쉽고 단순한 언어입니다."

In [44]:
print(len(str1))
print(len(str2))

25
21

In [48]:
print("str1에 포함된 i의 개수 : ", str1.count("i"))
print("str2에 포함된 은의 개수 : ", str2.count("은"))

str1에 포함된 i의 개수 :  2
str2에 포함된 은의 개수 :  1

In [51]:
print("str1에서 e의 위치 : ", str1.index("e"))
print("str1에서 e의 위치 : ", str1.find("e"))
print("str2에서 고의 위치 : ", str2.index("고"))
print("str2에서 한의 위치 : ", str2.find("한"))

str1에서 e의 위치 :  10
str1에서 e의 위치 :  10
str2에서 고의 위치 :  9
str2에서 고의 위치 :  13

In [53]:
# 없는 문제 에러
print("str1에서 k의 위치 : ", str1.index("k"))

ValueError: substring not found

In [52]:
# 없는 문자 -1
print("str1에서 k의 위치 : ", str1.find("k"))

str1에서 k의 위치 :  -1

In [54]:
print("str2에서 고의 위치 : ", str2.index("코"))

ValueError: substring not found

In [55]:
print("str2에서 한의 위치 : ", str2.find("훈"))

str2에서 한의 위치 :  -1

In [62]:
# join 인자 str 사이에 "ab" 끼워넣음
print("/".join(str1[:6]))
print("#".join(str2[-6:]))

P/y/t/h/o/n
언#어#입#니#다#.

In [64]:
print(str1.lower())
print(str1.upper())

print(str2.lower())
print(str2.upper())

python is easy and simple
PYTHON IS EASY AND SIMPLE
python은 쉽고 단순한 언어입니다.
PYTHON은 쉽고 단순한 언어입니다.

In [66]:
str3 = "   Python     "
print(str3.lstrip())
print(str3.rstrip())
print(str3.strip())

Python
   Python
Python

In [70]:
print(str1.replace(" ","_"))
print(str2.replace("쉽고","재미없고"))

Python_is_easy_and_simple
Python은 재미없고 단순한 언어입니다.

In [75]:
print(str1.split(" "))
print(str2.split("쉽고"))

['Python', 'is', 'easy', 'and', 'simple']
['Python은 ', ' 단순한 언어입니다.']