- 리스트(list): 가변공간 (크기,값)
- 대괄호를 사용하여 값들을 저장
- 투플 (tuple) 불가변
- 괄호를 사용하여 값들을 저장

### 리스트 []
- 리스트에 리스트 저장 가능
- 숫자, 문자 저장
- 접근 indexing, slicing

In [1]:
list1 = []
list2 = [0,1,2,3,4]
list3 = ["Python","C","Java","C++"]
list4 = ["Python",1,2]
list5 = [["Python","C"],1,2]

In [7]:
print(list2[2])
print(list2[-3])

print(list2[2]+list2[3])
print(list4[0])

#2차원
print(list5[0][0])

2
2
5
Python
Python

In [10]:
list5 = [1,2,3,["a","b","c"],4,5,["d","e"]]

print(list5[2])
print(list5[3][2])
print(list5[5])
print(list5[6][1])

3
c
5
e

In [12]:
### 슬라이싱: [시작인덱스:끝인덱스+1]

list6 = [1,2,3,4,5,6,7]

print(list6[0:3])
print(list6[3:6])
print(list6[-2:])

[1, 2, 3]
[4, 5, 6]
[6, 7]

In [13]:
list7 = [1,2,3]
list8 = [4,5,6,7]

list7+list8

[1, 2, 3, 4, 5, 6, 7]

In [24]:
list9 = [1,2]
list9.append(5)

list9.insert(2,"아아")
list9.insert(0,"gg")
list9.insert(1,["a","b","c"])
list9

['gg', ['a', 'b', 'c'], 1, 2, '아아', 5]

In [25]:
list9[0] = "kk"
list9[1][1] = "B"
list9

['kk', ['a', 'B', 'c'], 1, 2, '아아', 5]

In [26]:
list9[2:4] = [3,"zz"]
list9

['kk', ['a', 'B', 'c'], 3, 'zz', '아아', 5]

In [27]:
list9[2:5] = ["dddd"]
list9

['kk', ['a', 'B', 'c'], 'dddd', 5]

삭제
- del: 해당 idx 삭제
- remove: 첫번째 해당 값을 삭제

In [29]:
del list9[2]
list9

['kk', ['a', 'B', 'c']]

In [30]:
list9.append(10)
list9.append(20)
list9.append(10)

In [32]:
list9
list9.remove(10)

In [33]:
list9

['kk', ['a', 'B', 'c'], 20, 10]

In [34]:
list9[1].remove("a")

list9

['kk', ['B', 'c'], 20, 10]

In [35]:
del list9[1][1]

list9

['kk', ['B'], 20, 10]

In [36]:
# 오름차순
list10 = [20, 10, 30, 14, 20 ,33]

list10.sort()
list10

[10, 14, 20, 20, 30, 33]

In [37]:
#역
list10 = [20, 10, 30, 14, 20 ,33]

list10.reverse()
list10

[33, 20, 14, 30, 10, 20]

In [38]:
list10 = [20, 10, 30, 14, 20 ,33]
list10.sort()
list10.reverse()

list10

[33, 30, 20, 20, 14, 10]

In [39]:
list12 = [5,6,2,1,5,7,8]

list12.sort()
print(list12)

list12.reverse()
print(list12)

[1, 2, 5, 5, 6, 7, 8]
[8, 7, 6, 5, 5, 2, 1]

In [41]:
list12 = [5,6,2,1,5,7,8]

list12.index(7)

5

In [43]:
list12 = [5,6,2,1,5,7,8]
print(list12.pop())

list12

8

[5, 6, 2, 1, 5, 7]

In [44]:
len(list12)

6

회원 관리 프로그램

메뉴를 출력 (데이터 저장, 검색, 수정, 삭제, 종료)
메뉴를 선택
만약 저장을 선택했다면 회원 이름을 입력받음
입력받은 리스트에 저장하고 리스트 내용을 출력
만약 검색을 선택했다면 회원 이름을 입력받음
입력받은 회원 이름의 인덱스를 출력
만약 수정을 선택했다면 인덱스와 새 회원이름를 입력받음
해당 인덱스에 새 회원이름으로 변경하고 리스트 내용을 출력
만약 삭제를 선택했다면 인덱스를 입력받음
입력받은 인덱스를 삭제하고 리스트 내용을 출력
만약 종료를 선택했다면 종료했습니다를 출력

In [47]:
# 메뉴를 출력 (데이터 저장, 검색, 수정, 삭제, 종료)
print("[1]저장\t[2]검색\t[3]수정\t[4]삭제\t[5]종료")

[1]저장	[2]검색	[3]수정	[4]삭제	[5]종료

In [70]:
num = int(input("메뉴를 선택하세요 >> "))

메뉴를 선택하세요 >> 5

In [50]:
nameList = [] # 빈 리스트

In [55]:
if num == 1:
    memberName = input("회원이름 입력 >> ")
    
    nameList.append(memberName)
    
    print(nameList)

회원이름 입력 >> 권희
['홍길동', '김유신', '권하', '권호', '권희']

In [57]:
# 전체 회원수 출력
print("전체 회원수: {}".format(len(nameList)))

전체 회원수: 5

In [59]:
# 회원 이름 ㄱ ㄴ ㄷ 정렬
nameList.sort()
print(nameList)

# 내림차순
nameList.reverse()
print(nameList)

['권하', '권호', '권희', '김유신', '홍길동']
['홍길동', '김유신', '권희', '권호', '권하']

In [64]:
# 만약 검색을 선택했다면 회원 이름을 입력받음
# 입려갇은 회원 이름의 인덱스를 출력
if num == 2:
    name = input("이름을 입력하세요 >> ")
    
    nameIdx = nameList.index(name)
    
    print("{} 회원의 idx는 {}입니다.".format(name,nameIdx))

이름을 입력하세요 >> 김유신
김유신 회원의 idx는 1입니다.

In [66]:
# 만약 수정을 선택했다면 인덱스와 새 회원이름을 입력받음
# 해당 인덱스에 새 회원이름으로 변경하고 리스트 내용을 출력

if num == 3:
    newIdx = int(input("인덱스 >> "))
    newName = input("새 이름 >> ")
    
    nameList[newIdx] = newName
    
    print(nameList)

인덱스 >> 3
새 이름 >> 코코
['홍길동', '김유신', '권희', '코코', '권하']

In [69]:
# 만약 삭제를 선택했다면 인덱스를 입력받음
# 입력받은 인덱스를 삭제하고 리스트 내용을 출력

if num == 4:
    del_idx = int(input("인덱스 >> "))
    del nameList[del_idx]
    
    print(nameList)

인덱스 >> 2
['홍길동', '김유신', '코코', '권하']

In [71]:
if num == 5:
    print("종료하였습니다")

종료하였습니다

### tuple

In [72]:
tuple1 = ()
tuple2 = (1,2,3,4)
tuple3 = ("파이썬","Java", "C")
tuple4 = (1,2,"파이썬")
tuple5 = (1,2,(3,4,5))

In [73]:
print(tuple5[1])

print(tuple5[2][1])

2
4

In [74]:
print(tuple2[:3])

print(tuple2[2:])

(1, 2, 3)
(3, 4)

In [75]:
len(tuple2)

4

In [76]:
tuple2[1] = 10

TypeError: 'tuple' object does not support item assignment

In [77]:
# 값 변경하려면 list
tuple3 = ("파이썬","Java","C")

list01 = list(tuple3)
list01

['파이썬', 'Java', 'C']

In [79]:
list01[0] = "Python"
tuple3 = tuple(list01)

tuple3

('Python', 'Java', 'C')

In [2]:
# in과 not in
str1 = "Python is easy"
tuple2 = (1,2,3,4)
list6 = ["Python","python","Java","홍길동","사자"]

In [3]:
"Python" in str1

True

In [4]:
"Python" not in tuple2

True

In [5]:
"Python" in list6

True

In [7]:
input1 = input("입력하세요 >> ")
if input1 in list6:
    print("값 존재")
else :
    print("존재 x")

입력하세요 >> Java
값 존재