In [3]:
num1 = 10
num2 = 5

print(num1+num2)
print(num1-num2)
print(num1/num2)
print(num1*num2)
print(num1//num2)
print(num1%num2)

15
5
2.0
50
2
0

In [4]:
str1 = "10"
str2 = "5"

str1 + str2

'105'

In [5]:
num1 + str1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
# 그래도 숫자형태의 문자열을 더하고 싶다
int(num1) + int(num2)

15

In [7]:
str(num1)+str(num2)

'105'

값을 입력받아서 사용

In [8]:
name = input()

name

홍길동

'홍길동'

In [9]:
age = input("나이를 입력하세요 >> ")

age

나이를 입력하세요 >> 30

'30'

In [11]:
num1 = int(input("첫번째 숫자를 입력 >> "))
num2 = int(input("두번째 숫자를 입력 >> "))

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1//num2)
print(num1%num2)

첫번째 숫자를 입력 >> 8
두번째 숫자를 입력 >> 3
11
5
24
2.6666666666666665
2
2

In [14]:
pi = "3.1415"
r = 20

# 소수점 끝에 1 => 진법 오류
area = r**2 *float(pi)

area

1256.6000000000001

In [20]:
nat = int(input("국어 점수 입력 >> "))
eng = int(input("영어 점수 입력 >> "))
math = int(input("수학 점수 입력 >> "))

print("점수 총점 : {}".format(nat+eng+math))
print("점수 평균 : {}".format((nat+eng+math)/3))

국어 점수 입력 >> 80
영어 점수 입력 >> 80
수학 점수 입력 >> 80
점수 총점 : 240
점수 평균 : 80.0

In [39]:
time = int(input("시간 입력 >> "))
hour = time // 3600
minute = (time%3600) // 60
second = (time%3600) % 60


print("{}시간 {}분 {}초".format(hour,minute,second))

시간 입력 >> 1123
0시간 18분 43초

In [40]:
# 문자열이랑 * 쓰면 반복 연산자

str1 = "Python"
num1 = 10

str1 * num1

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [44]:
str1 = "*"

print(str1)
print(str1*2)
print(str1*3)
print(str1*4)
print(str1*5)

*
**
***
****
*****

In [45]:
# 지수 연산자
print(3 ** 3)

27

In [49]:
pi = 3.14
r = int(input("반지름: "))

area = pi * r**2

print(area)

반지름: 20
1256.0

In [50]:
# 대입, 복합 연산자
a = 10
a = a + 10

print (a)

a += 10

print(a)

20
30

In [54]:
# 치환

a = 20
b = 30

c = a
a = b
b = c

print (a,b)

a, b = b, a
print (a,b)

30 20
20 30

In [ ]:
# == > < >= <= !=
# 논리연산자: and or not

In [56]:
# 삼항 연산자
a = 10
"짝수" if a%2 == 0 else "홀수"

'짝수'

In [58]:
money = 10000

"택시" if money >= 10000 else "버스"

'택시'

In [63]:
num1 = int(input("숫자1: "))
num2 = int(input("숫자2: "))

num = num1 if num1 > num2 else num2

print("{}와 {} 중에 큰 수는 {}입니다.".format(num1,num2,num))

숫자1: 10
숫자2: 20
10와 20 중에 큰 수는 20입니다.